In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
# load cleaned data
df = pd.read_csv('marketing_campaign.csv')

In [8]:
df.head(10)

  ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
0  5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
1  2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
2  4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3  6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4  5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...
5  7446\t1967\tMaster\tTogether\t62513\t0\t1\t09-...
6  965\t1971\tGraduation\tDivorced\t55635\t0\t1\t...
7  6177\t1985\tPhD\tMarried\t33454\t1\t0\t08-05-2...
8  4855\t1974\tPhD\tTogether\t30351\t1\t0\t06-06-...
9  5899\t1950\tPhD\tTogether\t5648\t1\t1\t13-03-2...